<div>
    <div class="my-book">
        <div class="description">
            <h1 class="title-filter">Welcome!</h1>
        </div>
        <div class="book-container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="thumbnail book-card">
                        <a target="_self" href='#/profile'>
                            <img src="../img/tux-161406.svg">
                            <div class="about-book">
                                <div class="book-description">
                                    <div class="name">Profile</div>
                                </div>
                            </div>
                        </a>
                        <p class="ex">Edit your profile</p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="thumbnail book-card">
                        <a target="_self" href='#/myBooks'>
                            <img src="../img/book-2943383.svg">
                            <div class="about-video">
                                <div class="video-description">
                                    <div class="name">My books</div>
                                </div>
                            </div>
                        </a>
                        <p class="ex">View your books</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="explanation-message">
            <p>
                @Copyright-BookUnity
            </p>
        </div>
    </div>
    <a class="dashboard" href='#/dashboard'>Dashboard</a>
</div>