<div class="people-reading"></div>
<div class="my-book">
    <div class="description">
        <h1 class="title-filter">Welcome to BookUnity</h1>
        <p class="about">
            We are a community united by our desire to read.
        </p>
    </div>
    <div class="book-container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="thumbnail book-card">
                    <a target="_self" href="#/about">
                        <img src="../img/ppp.svg">
                        <div class="about-book">
                            <div class="book-description">
                                <div class="name">About</div>
                            </div>
                        </div>
                    </a>
                    <p class="ex">Learn more about BookUnity</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="thumbnail book-card">
                    <a target="_self" href="#/catalog">
                        <img src="../img/book-2943383.svg">
                        <div class="about-video">
                            <div class="video-description">
                                <div class="name">Catalog</div>
                            </div>
                        </div>
                    </a>
                    <p class="ex">View our catalog</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-4">
                <div class="thumbnail book-card">
                    <a target="_self" href="#/signin">
                        <img src="../img/tux-161406.svg">
                        <div class="about-video">
                            <div class="video-description">
                                <div class="name">Join</div>
                            </div>
                        </div>
                    </a>
                    <p class="ex">Join BookUnity</p>
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        <h1 class="title-book">Find Your Book</h1>
        <p class="about"   id="filters-search">
            Try out our powerful filters to find the book you are looking for.
        </p>
    </div>
    <div class="filter-container">
        <div class="description">
            <h1 class="title-white">Filters</h1>
            <p class="about-white">
                Click on the desired filter to expand the options menu.
                Choose what you need and click the search button below.
            </p>
        </div>
        <div class="row">
            <div class="about-white-label">
                <label for="deal" >Choose a deal:</label>
            </div>
            <select class="filterbook" id="deal">
                <option>All</option>
                <option>Sale</option>
                <option>Exchange</option>
                <option>Free</option>
            </select>
            <label for="author" class="about-white-label">Choose an author:</label>
            <select class="filterbook" id="author">
                <option>All</option>
                <option>Author1</option>
                <option>Author2</option>
                <option>Author3</option>
            </select>
            <label for="category" class="about-white-label">Choose a category:</label>
            <select class="filterbook" id="category">
                <option>All</option>
                <option>Category1</option>
                <option>Category2</option>
                <option>Category3</option>
            </select>
            <label for="year" class="about-white-label">Choose a year:</label>
            <select class="filterbook" id="year">
                <option>All</option>
                <option>Year1</option>
                <option>Year2</option>
                <option>Year3</option>
            </select>
            <div class="search-container">
                <a class="search" href="#/catalog">Search</a>
            </div>
        </div>
    </div>
    <div class="explanation-message">
        <p>
           @Copyright-BookUnity
        </p>
    </div>
</div>