<body>
<div ng-controller="ShowCtrl">
    <div class="my-book">
        <div class="description">
            <h1 class="title-filter">My Books</h1>
        </div>
        <a class="watch" href='#/addBook'>Add a book</a>
        <div class="book-container2">
            <div class="row" id="field">
					<div books> </div>
            </div>
        </div>
        <div class="explanation-message">
            <p>
                @Copyright-BookUnity
            </p>
        </div>
    </div>
    <a class="dashboard" href='#/dashboard'>Dashboard</a>
</div>