<div>
    <div class="my-book">
        <div class="description">
            <h1 class="title-filter">My Profile</h1>
        </div>
        <div class="book-container">
            <div class="row">
                <form action="">
                	Login:<br>
                    <input type="text" name="login" class="input-join" id="login">
                    Password:<br>
                    <input type="text" name="password" class="input-join" id="password">
                    First name:<br>
                    <input type="text" name="firstname" class="input-join" id="firstname">
                    Second name:<br>
                    <input type="text" name="secondname" class="input-join" id="secondname">
                    Last name:<br>
                    <input type="text" name="lastname" class="input-join" id="lastname">
                    Age:<br>
                    <input type="text" name="age" class="input-join" id="age">
                    Phone number:<br>
                    <input type="text" name="phonenumber" class="input-join" id="phonenumber">
                    City:<br>
                    <input type="text" name="city" class="input-join" id="city">
                    Region:<br>
                    <input type="text" name="region" class="input-join" id="region">
                    Country:<br>
                    <input type="text" name="country" class="input-join" id="country">
                    Gender:<br>
                    <input type="text" name="gender" class="input-join" id="gender">
                    <a class="watch" href='#/profile' id="saveprofile">Save</a>
                </form>
            </div>
        </div>
        <div class="explanation-message">
            <p>
                @Copyright-BookUnity
            </p>
        </div>
    </div>
    <a class="dashboard" href='#/dashboard'>Dashboard</a>
</div>