<div class="book-setaccount">
<div>
    <div class="my-book-setup">
        <div class="description">
            <h1 class="title-filter">Set up your account</h1>
        </div>
        <div class="book-container">
            <div class="row"  ng-controller="SetCtrl">
                <form ng-submit="done()">
                    First name:<br>
                    <input type="text" ng-model="user.firstName" value="first name" class="input-join">
                    Second name:<br>
                    <input type="text" ng-model="user.secondName" value="second name" class="input-join">
                    Last name:<br>
                    <input type="text" ng-model="user.lastName" value="last name" class="input-join">
                    Age:<br>
                    <input type="text" ng-model="user.age" value="age" class="input-join">
                    Phone number:<br>
                    <input type="text" ng-model="user.phonenumber" value="phone number" class="input-join">
                    City:<br>
                    <input type="text" ng-model="user.city" value="city" class="input-join">
                    Region:<br>
                    <input type="text" ng-model="user.region" value="region" class="input-join">
                    Country:<br>
                    <input type="text" ng-model="user.country" value="country" class="input-join">
                    Gender:<br>
                    <input type="text" ng-model="user.gender" value="gender" class="input-join">
                    <input class="watch" type="submit" value="Done">
                </form>
            </div>
        </div>
        <div class="explanation-message">
            <p>
                @Copyright-BookUnity
            </p>
        </div>
    </div>
</div>
</div>