<div class="signin" ></div>
    <div class="my-book-sign" ng-controller="LoginCtrl">
        <div class="row book-container" >
            <div class="links" id="forget-me-not">
                <h1 class="title-flower">Sign in</h1>
                <div class="thumbnail test-card">
                    <form action="">
                        User name:<br>
                        <input type="text" name="userid" ng-model="login" value="Username" class="input-join">
                        User password:<br>
                        <input type="password" name="psw" ng-model="password" class="input-join">
                        <a class="watch" ng-click="login1()"  href='#/dashboard'>Sign in</a>
                        <div class="noaccount">
                            <div class="name2">
                                <a href='#/signup' class="name2">Don't have an account</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>